<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
</head>
<main>
    <div class="container-fluid px-4">
        <!-- <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol> -->
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Confirmed</h4>
                        <h6 class="card-text">{{totalData.TT.total.confirmed}}</h6>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <span class="small text-white stretched-link" href="#">Last updated <br>{{totalData.TT.meta.last_updated | date: 'medium'}} IST</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Active</h4>
                        <h6 class="card-text">{{totalData.TT.total.confirmed - totalData.TT.total.deceased - totalData.TT.total.recovered - totalData.TT.total.other}}</h6>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <span class="small text-white stretched-link" href="#">Last updated <br>{{totalData.TT.meta.last_updated | date: 'medium'}} IST</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Recovered</h4>
                        <h6 class="card-text">{{totalData.TT.total.recovered}}</h6>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <span class="small text-white stretched-link" href="#">Last updated <br>{{totalData.TT.meta.last_updated | date: 'medium'}} IST</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-secondary text-white mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Death</h4>
                        <h6 class="card-text">{{totalData.TT.total.deceased}}</h6>
                    </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <span class="small text-white stretched-link" href="#">Last updated <br>{{totalData.TT.meta.last_updated | date: 'medium'}} IST</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-info text-center" role="alert">
            Dose 1 Vaccinated : {{totalData.TT.total.vaccinated1}}
            <br>
            Dose 2 Vaccinated : {{totalData.TT.total.vaccinated2}}
            <hr>
            Total Vaccine Doses Administered : {{totalData.TT.total.vaccinated1 + totalData.TT.total.vaccinated2}}
            </div>
        
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button routerLink="states_table" class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">States</button>
            </li>
            <li class="nav-item" role="presentation">
                <button routerLink="districts_table" class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Districts</button>
            </li>
            </ul>

            <router-outlet></router-outlet>

            

    </div>
</main>
