<div class="card mb-4">
  <!-- <div class="card-header">
      <i class="fas fa-table me-1"></i>
      DataTable Example
  </div> -->
  <div class="card-body">
      <table id="datatablesSimple">
    <thead>
      <tr>
        <th scope="col">District</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Active</th>
        <th scope="col">Recovered</th>
        <th scope="col">Deceased</th>
        <th scope="col">Tested</th>
        <th scope="col">Vaccine Doses Administered</th>
      </tr>
    </thead>
    <tbody *ngFor="let d1 of allDistricts">
          <tr *ngFor="let d2 of d1;let i=index">
            <td>{{d2[0]}}</td>
            <td>{{d2[1].total.confirmed}}</td>
            <td *ngIf="!d2[1].total.other">{{d2[1].total.confirmed - d2[1].total.deceased - d2[1].total.recovered}}</td>
            <td *ngIf="d2[1].total.other">{{d2[1].total.confirmed - d2[1].total.deceased - d2[1].total.recovered - d2[1].total.other}}</td>
            <td>{{d2[1].total.recovered}}</td>
            <td>{{d2[1].total.deceased}}</td>
            <td>{{d2[1].total.tested}}</td>
            <td>{{d2[1].total.vaccinated1 + d2[1].total.vaccinated2}}</td>
          </tr>
    </tbody>
    <tbody *ngFor="let d1 of stateCodes;let i=index">
        <tr *ngIf="d1=='TT'">
            <td></td>
            <td><h6>Total</h6></td>
            <td><h6>{{totalData[d1].total.confirmed}}</h6></td>
            <td *ngIf="!totalData[d1].total.other"><h6>{{totalData[d1].total.confirmed - totalData[d1].total.deceased - totalData[d1].total.recovered}}</h6></td>
            <td *ngIf="totalData[d1].total.other"><h6>{{totalData[d1].total.confirmed - totalData[d1].total.deceased - totalData[d1].total.recovered - totalData[d1].total.other}}</h6></td> 
            <td><h6>{{totalData[d1].total.recovered}}</h6></td>
            <td><h6>{{totalData[d1].total.deceased}}</h6></td>
            <td><h6>{{totalData[d1].total.tested}}</h6></td>
            <td><h6>{{totalData[d1].total.vaccinated1 + totalData[d1].total.vaccinated2}}</h6></td>
          </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">District</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Active</th>
        <th scope="col">Recovered</th>
        <th scope="col">Deceased</th>
        <th scope="col">Tested</th>
        <th scope="col">Vaccine Doses Administered</th>
      </tr>
    </tfoot>
  </table>
</div>
</div>